<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Nosotros | EJP Service</title>
      <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1, maximum-scale=3, minimum-scale=1">

      <link rel="shortcut icon" href="../img/icon/favicon.png">

      <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
      <link rel="stylesheet" href="../css/index.css">
      <link rel="stylesheet" href="../css/us.css">
      <link rel="stylesheet" href="../css/header.css">
      <link rel="stylesheet" href="../css/footer.css">
      <link rel="stylesheet" href="../fonts/sito-web/styles.css">

   </head>

   <body>
      <!-- ABRE HEADER -->
      <header class="main-header">
         <div class="heid">
            <div class="logo-container column column--50">
               <div class="logo"></div>
            </div>
            <div class="main-header__contactInfo">
               <p class="main-header__contacInfo__phone">
                  <a href="https://api.whatsapp.com/send?phone=18493308701" target="_blank"><span class="icon-whatsapp">849-330-8701</span></a><br>
               </p>
               <p class="main-header__contactInfo__address">
                  <span class="icon-location">Av. 27 de Febrero #23, Edf. Master Suite 4-7, D.N., R.D.</span>
               </p>
            </div>
         </div>
      </header>
      <!-- CIERRA HEADER -->

      <nav class="main-nav">
         <div class="container--flex">
            <input type="checkbox" id="btnMenu">
            <label for="btnMenu" class="icon-menu"></label>
            <!--<span class="icon-menu" id="btnMenu"></span>-->
            <ul class="menu" id="menu">
               <li class="menu__item"><a href="../index.php" class="menu__link menu__link--select">Inicio</a></li>
               <li class="menu__item sub-menu1"><a href="#" class="menu__link">Servicios <span class="icon-caret-down"></span></a>
                  <ul class="sub-menu">
                     <li class="menu__item"><a href="waiter.html" class="menu__link">Camareros</a></li>
                     <li class="menu__item"><a href="mixologos.html" class="menu__link">Mixologos</a></li>
                     <li class="menu__item"><a href="buffett.html" class="menu__link">Buffet</a></li>
                     <li class="menu__item"><a href="decoraciones.html" class="menu__link">Decoraciones</a></li>
                  </ul>
               </li>
               <li class="menu__item"><a href="us.html" class="menu__link">Nosotros</a></li>
               <li class="menu__item"><a href="contact.html" class="menu__link">Contacto</a></li>
            </ul>
         </div>
      </nav>

      <section class="banner">
         <div class="imagen_fondo_nosotros"></div>
         <div class="imagen_texto">
            <div class="mostrar_h1">
               <h1 data-aos="fade-up"></h1>
               <h1 data-aos="fade-up">SERVICIO IMPECABLE</h1>
            </div>

            <div class="social_icon">
               <a target="_blank" href="https://web.facebook.com/ejpservice" class="social_icon__link" data-aos="fade-left" title="ejpservice"><span class="icon-facebook"></span></a>
               <a target="_blank" href="https://www.instagram.com/ejpservice/" class="social_icon__link" data-aos="fade-left" title="camareros_EJP"><span class="icon-instagram"></span></a>
               <a href="mailto:ejptheservice@gmail.com" class="social_icon__link" data-aos="fade-left" title="ejptheservice@gmail.com"><span class="icon-mail"></span></a>
            </div>
         </div>
      </section>

      <main class="main">
         <div class="nosotros">
            <div class="img_esloan"> <img src="../img/nosotros/esloan.jpg" alt="Esloan Jimenez"> </div>
            <div class="detalles_miembro">
               <div class="hide"><h1 data-aos="fade-up">Esloan Jimenez</h1></div>
               <div class="hide"><p data-aos="fade-down">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus quasi culpa at ex quo ratione maxime adipisci recusandae, nam asperiores incidunt sint fugiat saepe laboriosam molestiae, sit mollitia obcaecati impedit.</p></div>

            </div>
         </div>
         <div class="nosotros">
            <div class="detalles_miembro">
               <div class="hide"><h1 data-aos="fade-up">Thomas Encarnacion</h1></div>
               <div class="hide"><p data-aos="fade-down">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus quasi culpa at ex quo ratione maxime adipisci recusandae, nam asperiores incidunt sint fugiat saepe laboriosam molestiae, sit mollitia obcaecati impedit.</p></div>
            </div>
            <div class="img_esloan"> <img src="../img/nosotros/thomas.jpeg" alt=""> </div>
         </div>
      </main>

      <footer class="main-footer" data-aos="zoom-in-up">
         <div class="container">
            <div class="column column--33">
               <h2 class="column__title">¿Por que adquirir nuestros servicios?</h2>
               <p class="column__txt">Por el buen servicio que brindamos, Nuestros clientes quedan encantados con la fluidez y la atención ya que no sabemos decir que no, Aparte de contar con un equipo profesional, la administración se encarga de enviar un supervisor de parte nuestra a dar apoyo en cualquier necesidad requerida.</p>
            </div>

            <div class="column column--33">
               <h2 class="column__title">Contactenos</h2>
               <p class="column__txt"><a href="https://api.whatsapp.com/send?phone=18493308701" target="_blank" class="social_icon__link" data-aos="fade-left"><span class="icon-whatsapp">849-330-8701</span></a></p>
               <a href="mailto:ejptheservice@gmail.com" class="social_icon__link" data-aos="fade-left"><span class="icon-mail">ejptheservice@gmail.com</span></a><br>
            </div>

            <div class="column column--33">
               <h2 class="column__title">Siguenos en nuestra redes</h2>
               <p class="column__txt"><a target="_blank" href="https://web.facebook.com/ejpservice" class="icon-facebook"></a> EJPSERVICE</p>
               <p class="column__txt"><a target="_blank" href="https://www.instagram.com/ejpservice/" class="icon-instagram"></a> CAMAREROS_EJP</p>
            </div>
         </div>
         <p class="copy">© 2022 Your Service | Todos los derechos reservados</p>
      </footer>

      <script src="../js/menu.js"></script>
      <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
      <script>
         AOS.init({
            duration: 1000
         });
      </script>
   </body>
</html>
